{% extends 'base.html.twig' %} {% block titulo %}Bien Venido Tartas y Caramelo{% endblock %}
 {% block contenido %}

<header>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div
        class="carousel-item active"
        style="background-image: url({{ asset('./img/slide2.jpg') }})"
      >
        <div class="carousel-caption d-none d-md-block">
          <!--            <h3>First Slide</h3>
         <p>This is a description for the first slide.</p>
-->
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div
        class="carousel-item"
        style="background-image: url({{ asset('./img/slide3.jpg') }})"
      >
        <div class="carousel-caption d-none d-md-block">
          <!--            <p>This is a description for the second slide.</p>
            <h3>Second Slide</h3>
-->
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div
        class="carousel-item"
        style="background-image: url({{ asset('./img/slide4.jpg') }})"
      >
        <div class="carousel-caption d-none d-md-block">
          <!--            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
-->
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<div class="container col-12">
  <!-- Portfolio Section -->
  <h1 class="my-4">Nuestras Mejores Recetas</h1>

  <div class="row">
    {% for tarta in tartas %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="{{path('tarta', {'id':tarta.id})}}"
          ><img class="card-img-top" src="http://placehold.it/700x400" alt=""
        /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{{path('tarta', {'id':tarta.id})}}">{{ tarta.nombre }}</a>
          </h4>
          <p class="card-text">{{ tarta.descrcion }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
